@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --fundo-cabecalho: #ffffffff;
    --fundo: #000000;

    --letra: #ffffffff;
    --letra-projetos: #856d6d;

    --letra-geral: 'Montserrat', sans-serif;
    --letra-titulos: 'Open Sans', sans-serif;

    --borda: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--letra-geral);
}

main {
    background: var(--fundo) url(../img/fundo.png);
}

hr {
    margin: 4px 0 4px 0;
    box-shadow: 0px 0px 10px #ffffff;
}