.apresentacao__conteudo{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .apresentacao__conteudo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
}