.apresentacao__subtitulo {
    color: var(--letra);
    font-family: var(--letra-titulos);
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .apresentacao__subtitulo {
        font-size: 2rem;
    }
}