.apresentacao__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao__video {
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -100;
}

.apresentacao__conteudo {
    margin: 0 50%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.apresentacao__titulo {
    margin-top: .5rem;
}

.apresentacao__hora {
    font-size: 20px;
}

.apresentacao__img {
    opacity: 0.9;
    width: 10rem;
    z-index: -1;
}

.apresentacao__curiculo {
    align-items: center;
    background-color: var(--botao-cur);
    border: 1px solid var(--botao-cur);
    border-left: 10px solid var(--botao-cur-click);
    border-radius: 5px;
    color: var(--letra);
    display: flex;
    font-size: 24px;
    margin-top: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.uil {
    font-size: 30px;
    margin: 0 .5rem;
}

.apresentacao__icon {
    color: var(--letra);
}

.apresentacao__curiculo:hover {
    color: var(--botao-cur);
    background-color: var(--letra);
}

@media screen and (min-width: 768px) {
    .apresentacao__container {
        flex-direction: row;
    }

    .apresentacao__conteudo {
        width: 30rem;
        margin: 0;
    }
    
    .apresentacao__hora {
        font-size: 25px;
    }

    .apresentacao__img {
        width: 20rem;
    }
}

@media screen and (min-width: 1280px) {
    .apresentacao {
        margin: 6rem 0;
    }

    .apresentacao__container {
        margin: 0 5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .apresentacao__conteudo {
        width: 70rem;
    }

    .apresentacao__hora {
        font-size: 40px;
    }

    .apresentacao__img {
        width: 20rem;
    }
}
