.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.menu__logo--img {
    width: 6rem;
    cursor: pointer;
}

.menu__lista--redes {
    display: flex;
}

.menu__item {
    padding: .5rem;
}

.menu__home {
    display: none;
}

.menu__lista {
    display: flex;
}

.menu__link {
    color: var(--letra);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: overline;
}

.menu__icon {
    color: var(--icones);
}

.menu__texto {
    display: none;
    color: var(--letra);
    margin: 0 .5rem;
}

.menu__item:hover .menu__texto {
    display: block;
}

.menu__menu--icon button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu__lista--mobile {
    width: 100vw;
    background-color: var(--cor-mobile);
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1rem;
    align-items: center;
}

.menu__item--mobile {
    margin: 1rem;
}

.menu__link--mobile {
    color: var(--letra-mobile);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .menu__logo--img {
        width: 7rem;
    }

    .menu__texto {
        display: block;
    }
}

@media screen and (min-width: 1280px) {
    .menu {
        padding: 0 10rem;
    }

    .menu__home {
        display: block;
    }

    .menu__menu--icon {
        display: none;
    }

    .menu__item {
        margin: 0 1rem;
    }

    .menu__link {
        font-size: 13px;
    }
}