@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('menu/menu.css');
@import url('apresentacao/apresentacao.css');
@import url('sobre/sobre.css');

:root {
    --menu: #00008B;
    --icones: #fff;
    --letra: #D3D3D3;
    --cor-titulo: linear-gradient(#0000FF, #1E90FF);

    --cor-mobile: #fff;
    --letra-mobile: #000;

    --cor-fundo: #000000;

    --font: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: #fff;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 300;
}

.meio {
    padding: 1rem;
}




[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}