@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('menu.css');
@import url('apresentacao.css');
@import url('sobre.css');
@import url('habilidades.css');
@import url('projetos.css');

:root {

    --menu: #00008B;
    --icones: #fff;
    --letra: #D3D3D3;
    --cor-titulo: linear-gradient(#0000FF, #1E90FF);

    --cor-mobile: #fff;
    --letra-mobile: #000;

    --cor-fundo: #000000;

    --botao-cur: #00008B;
    --botao-cur-click: #0e0ee2;

    --porcentual: #fff;

    --rodape: rgb(110, 110, 110);

    --font: 'Inter', sans-serif;

}

body {
    background-color: var(--cor-fundo);
    color: #fff;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 300;
}

.open {
    display: block;
}

.off {
    display: none;
}

.titulos {
    background-image: var(--cor-titulo);
    background-clip: text;
    font-size: 25px;
    font-weight: 500;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.meio {
    padding: 1rem;
}

.rodape {
    text-align: center;
    padding: 1rem;
    background-color: var(--rodape);
}

.projetopc {
    display: none;
}



[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


@media screen and (min-width: 768px) {
    .titulos {
        font-size: 35px;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .titulos {
        font-size: 60px;
    }

    .projetopc {
        display: block;
    }
}