body{
    background-image: url(../img/estrelasstar.png);
    background-size: auto;
}

.cabecalho{
    width: 1000px;
    height: 50px;
    background-color: #0b1014;
    color: #fff;
    margin: auto;
    text-align: center;
    font-family: 'Red Hat Mono', monospace;
}

.conteiner{
    width: 1000px;
    height: 850px;
    background-color:#A9A9A9;
    margin: auto;
}

.linha1{
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    width: 450px;
    height: 250px;
    text-align: center;
    font-family: 'Red Hat Mono', monospace;
}

.img1{
    width: 250px;
    height: 160px;
    object-fit: cover;
    border-radius: 30px;
}

.linha2{
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img2{
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 30px;
}

.texto-2{
    width: 450px;
    height: 250px;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
}

.img3{
    width: 220px;
    height: 230px;
    object-fit: cover;
    border-radius: 30px;
}

.linha2{
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.img4{
    width: 720px;
    height: 130px;
    object-fit: cover;
    border-radius: 30px;
}