.projetos__titulo {
    color: #ffffff;
    font-family: var(--letra-titulos);
    font-weight: 700;
    font-size: 1.7rem;
    transition: 3s ease-in-out;
}

.projetos__objeto:hover .projetos__titulo {
    color: black;
}