.projetos__objeto {
    border: 2px solid var(--borda);
    display: grid;
    margin: 1rem 0;
    grid-template-areas: 
        "projetos-img"
        "projetos-caixa";
    grid-template-columns: 100%;
    grid-template-rows: 150px auto;
    width: 100%;
}

.projetos__objeto:hover {
    background: #ffffff;
    grid-template-rows: 100px auto;
}

@media screen and (min-width: 768px) {
    .projetos__objeto {
        width: 25%;
        margin: 1rem 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .projetos__objeto {
        width: 15%;
    }
}

