.sobre {
    align-items: center;
    border: 2px solid var(--menu);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sobre__botao {
    border: none;
    border-radius:  0 0 10px 10px;
    color: var(--icones);
    padding: .5rem;
    font-family: var(--font);
    font-size: 16px;
}

.botao__desativado {
    background: transparent;
}

.botao__ativo {
    background: var(--menu);
}

.sobre__conteudo {
    padding: 1rem;
}

.sobre__titulo {
    background-image: var(--cor-titulo);
    background-clip: text;
    margin-top: .5rem;
    font-size: 40px;
    font-weight: 500;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent
}

.sobre__texto {
    margin: .5rem;
    font-size: 15px;
}

.conteudo__ativo {
    display: block;
}

.conteudo__desativado {
    display: none;
}


.sobre__carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 20rem;
    width: 20rem;
}

.sobre__container {
    padding: 1rem;
    display: flex;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
}

.sobre__img {
    margin: .5rem 0;
    object-fit: cover;
    height: 20rem;
    width: 20rem;
}